<%= form_with model: @learn, url: learn_path(@learn), method: :patch, local: true do |f| %>
  <div class="field">
    <%= f.label :'学習時間'%>
    <%= f.text_field :learn_time %>
  </div>
  
  <div class="field">
    <%= f.label :'学習言語'%>
    <%= f.label :'学んだ言語'%><br/>
    <%= f.collection_select :language_id, @languages, :id, :language, {include_blank: '学んだ言語を選択して下さい'}%>
  </div>

  <div class="field">
    <%= f.label :'学習内容'%>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.submit '更新'%>
  </div>
<% end %>
