<%= form_with model: @learn, url: learns_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :'学習時間'%><br/>
    <%= f.text_field :learn_time %>時間
  </div>
  <div class="form-group">
    <%= f.label :'学んだ言語'%><br/>
    <%= f.collection_select :language_id, @languages, :id, :language, {include_blank: '学んだ言語を選択して下さい'}%>
  </div>
  <div class="form-group">
    <%= f.label :'学習内容'%><br/>
    <%= f.text_area :content %>
  </div>
  <div class="form-group">
    <%= f.submit '記録する', class: 'btn btn-primary' %>
  </div>
<% end %>