<% @languages.each do |language| %>
  <%= link_to learns_path(:language_id => language.id) do %>
    <% language.language %>
  <% end %>
<% end %>

<%= link_to "全ての学習記録を見る", learns_path %>

<%= form_with model: @language, local: true do |f| %>
  <div class="form-group">
    <%= f.label :'言語の登録'%><br/>
    <%= f.text_field :language %>
  </div>
  
  <div class="form-group">
    <%= f.submit "登録" %>
  </div>
<% end %>
