<div class="field">
  <%= label_tag :'名前' %><br/>
  <%= @user.name %>
</div> 

<div class="field">
  <%= label_tag :'学び言語' %><br/>
  <%= @user.language %>
</div>

<div class="field">
  <%= label_tag :'自己紹介' %><br/>
  <%= @user.introduction %>
</div>
<%= link_to '編集', edit_user_path %>
<%= link_to '退会',  user_path, method: :delete, "data-confirm" => "本当に退会しますか？" %>

<h1>学習の記録</h1>

<%=link_to "学習を記録する", new_learn_path %>
<%= month_calendar(events: @learns) do |date, learns| %>
  <%= date.day %>
  
  <% learns.each do |learn| %>
    <div>
      <%= link_to learn.learn_time, learn_path(learn) %>
    </div>
  <% end %>
<% end %>
