<div class="field">
  <%= label_tag :'名前' %><br/>
  <%= @user.name %>
</div> 

<div class="field">
  <%= label_tag :'学んでいる言語' %><br/>
  <%= @user.language %>
</div>

<div class="field">
  <%= label_tag :'自己紹介' %><br/>
  <%= @user.introduction %>
</div>
<%= link_to '編集', edit_user_path %>
<%= link_to '退会',  user_path, method: :delete, "data-confirm" => "本当に退会しますか？" %>
<%= link_to 'ノートを見る', languages_path %>
<h1>学習の記録</h1>

<%= form_with model: @learn_time, url: learn_times_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :'学習時間'%><br/>
    <%= f.text_field :learn_time %>時間
  </div> 
  <div class="form-group">
    <%= f.label :'学習言語'%><br/>
    <%= f.text_field :language %>
  </div>  
  <div class="form-group">
    <%= f.submit "記録する"%>
  </div>
<% end %>
<%= month_calendar(events: @learn_times) do |date, learn_times| %>
  <%= date.day %>
  <% learn_times.each do |learn_time| %>
    <div>
      <%= learn_time.learn_time %>時間<br/>
      <%= link_to learns_path(:learn_id => learn_time.id) do %>
        <%= label_tag :'ノートを見る' %>
      <% end %>
    </div>
  <% end %>
<% end %>
