<!DOCTYPE html>
<html>
  <head>
    <title>TaskManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
     <ul>
        <li>
          <%= link_to "ログアウト", new_user_session_path %>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      </ul>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
